@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;   
    background-color: whitesmoke;      
 }
 body{
    display: inline-flex;
 }
.background{
    position: relative;
    display: flex;
    width:90%;
    justify-content: center;
    background-color: blue;
    min-width: 300px;
}
.background img{
    object-fit: cover;
    width: 100%;
}
.banner{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    top: 30%;
    background-color: rgba(250,250,250, 0.15);
    gap: 1rem;
}
.logo{
    height: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo img{
    object-fit: contain;
    height: 100%;
}
.logoText{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20vh;
    color:white;
    font-family: Norse-Bold, serif;
    margin:0;
    margin-left: 1vh;
    margin-top: 12%;
    line-height: 1;
}

main{
    box-sizing: border-box;
    width:100%;
    height:100%;
    align-self: center;
    padding-top: 15vh;
    min-width: 350px;
}
.bt{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flavortext, button{
    margin: 3vw;
    margin-bottom: 2vh;
    margin-top: 2vh;

}
fieldset{
    display:flexbox;
    box-sizing: border-box;
    width:100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding:3vw;
    padding-top: 1vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 0;
    margin: 0;
}
.formitem{
    align-self: center;
    justify-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.formitem div{
    margin-right: 3vw;
}
.formitem label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
button{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(58, 117, 27);
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: 4vh;
}
input{
    width: 15vw;
    height: 20px;
    border-color: rgba(128, 128, 128, 0.248);
    border-radius: 5px;
    border-width: 1px;
}
.login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.login a{
    color: rgb(58, 117, 27);
    font-weight: bold;
}
.credit{
    position:absolute;
    left:50%;
    bottom: 5%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.442);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.credit a{
    color: rgba(255, 255, 255, 0.442);
}
