html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;   
    background-color: whitesmoke;      
 }

 body{
    display: flex;
 }

main{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 233, 248);
    width:100%;
    height:100vh;
}
 .left{
    top:0;
    bottom:0;
    width: 300px;
    background-color: rgb(75, 132, 255);
    z-index: 5;
 }
 .header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    top:0;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 4;
    flex:0 0 200ox;
 }



.gridcontainer {
    z-index:0;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 25vh);
    gap: 2rem;       
    padding: 2rem;  
    height: auto; 
    overflow: auto;
    flex:1;
    padding-top:1rem;
    border-radius: 5px;
    padding-bottom: 3rem;
}

.gridcontainer > div {
    z-index: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: black;
    border-left: 10px solid rgb(255, 166, 0);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
}
.bodyitems{
    display: flex;
    flex:1;
    width:100%;
    overflow: hidden;
}
.bodyitems > div:first-child{
    width:70%;
    flex:0 0 70%;
    display:flex;
    flex-direction: column;
}
.phead{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin:2rem;
    padding:0;
    margin-bottom: 0; 
}
#line{
    border-bottom: 1px solid rgba(128, 128, 128, 0.207);
}
.right{
    height: 100%;
    padding:0;
    flex:1;
    display:flex;
    flex-direction: column;
}
.gridcontainer2{
    margin:2rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    grid-auto-rows: minmax(50px, 10vh);
    gap: 0;       
    padding: 1rem;  
    padding-top:0;
    margin-top: 1rem;
    overflow: scroll;  
    height: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 4px 10px 3px rgba(0,0,0,0.3);
}
.gridcontainer2 > div{
    padding:0;
    margin-top:1rem;
    overflow: hidden;
}
.g{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.399);
}
.minih{
    margin:0;
    padding:0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.mcont{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    margin-top: 0.5rem;
}


